body{
    background-color: aqua;
    margin: 0;
    padding: 0;
    height: 100vh; /* altura total da tela */
    display: flex;
    justify-content: center; /* centraliza horizontal */
    align-items: center;     /* centraliza vertical */
    font-family: Arial, sans-serif;
}