.iconeClima{
    width: 10%;
}

.caixa{
    background-color: aliceblue;
    border-radius: 20px;
    padding: 10px;
    width: 500px;
}

ul{
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.caixaClimaP{
    width: 150px;
    height: 50px;
    background-color: white;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.caixa2{
    margin-top: 20px;
    background-color: aliceblue;
    border-radius: 20px;
    padding: 10px;
    width: 500px;
}